<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #div1 {
      width: 200px;
      height: 200px;
      border: 2px solid brown;
    }
  </style>
</head>

<body>
  <div id="div1">
    this is div <br><br>
    <button id="btn1">click me</button>
  </div>

  <script>
    // event capturing means top to bottom event will trigger
    document.getElementById('div1').addEventListener('click', f1, true)
    document.getElementById('btn1').addEventListener('click', f2, true)
    function f1() {
      alert('div clicked')
    }

    function f2() {
      alert('button clicked');
    }
  </script>
</body>

</html>