<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<!-- event bubbling means target element to top parent event will trigger -->
<body onclick="alert('body clicked')">
  <div onclick="alert('div clicked')">
    this is a div
    <br />
    <span onclick="alert('span clicked')">this is a span
      <br />
      <input type="button" value="click me" onclick="alert('button clicked')" />
    </span>
  </div>
</body>

</html>